/****** Script for SelectTopNRows command from SSMS  ******/
SELECT TOP 10 [ACTUAL_CHARGE]
      ,[ACTUAL_WEIGHT]
      ,[CLIPSHIP_ACCT_ID]
      ,[CLIPSHIP_ID]
      ,[COD_AMOUNT]
      ,[COMPANY CODE]
      ,[CONTROL_ID]
      ,[CREATED_DATE]
      ,[CUST_ID]
      ,[DELIVERY_ACKN]
      ,[EXPECTED_DATE]
      ,[EXT_COMMENT]
      ,[INSURANCE_AMT]
      ,[INT_COMMENT]
      ,[JOBTRANS_ID]
      ,[MODIFIED_BY]
      ,[NEGOTIATED_CHARGE]
      ,[OUTPUT_BATCH_ID]
      ,[PACKAGE_ID]
      ,[PICK_ID]
      ,[PLANT CODE]
      ,[PROJ_ID]
      ,[REASON_CODE]
      ,[SAT_DELIVERY]
      ,[SHIP_ACCT_NO]
      ,[SHIP_DATE]
      ,[SHIP_ID]
      ,[SHIP_MODE_ID]
      ,[SHIP_TO_COUNTRY]
      ,[SHIP_TO_ZIP]
      ,[SHIP_TO1]
      ,[SHIP_TO2]
      ,[SHIP_TO3]
      ,[SHIP_TO4]
      ,[SHIP_TO5]
      ,[SHIP_TO6]
      ,[SHIP_TO7]
      ,[SHIPPED_BY]
      ,[SO_ID]
      ,[STATION_ID]
      ,[STATUS]
      ,[SURCHARGE]
      ,[THIRD_BILL_CHARGE]
      ,[THIRD_BILL_NO]
      ,[THIRD_BILL1]
      ,[THIRD_BILL2]
      ,[THIRD_BILL3]
      ,[THIRD_BILL4]
      ,[THIRD_BILL5]
      ,[THIRD_BILL6]
      ,[THIRD_BILL7]
      ,[TRACKING_NO]
      ,[MSNNumber]
      ,[ShippingSkidSts]
      ,[ShippingSkidID]
      ,[Residential]
      ,[ShippingConfirmation]
      ,[SHIP_FROM_COUNTRY]
      ,[SHIP_FROM_ZIP]
      ,[SHIP_FROM1]
      ,[SHIP_FROM2]
      ,[SHIP_FROM3]
      ,[SHIP_FROM4]
      ,[SHIP_FROM5]
      ,[SHIP_FROM6]
      ,[SHIP_FROM7]
      ,[CollectAcct]
      ,[PrePaidAcct]
      ,[ShipAcctType]
      ,[MISSent]
      ,[ProofOfDelivery]
      ,[AddedPkg]
      ,[FGARNID]
      ,[EFIPOHdrID]
      ,[Confirmed]
      ,[PackageNo]
      ,[THIRD_BILL_NAME]
      ,[IFSShipDimensionId]
      ,[IFSShipContainterTypeId]
  FROM [LiveData].[dbo].[PACKAGE]
  WHERE PICK_ID = 234
  ORDER BY CREATED_DATE Desc