/****** Script for SelectTopNRows command from SSMS  ******/
SELECT TOP 10 [ACTIVE]
      ,[CUST_ID]
      ,[FIELD_ASSOC]
      ,[FIELD_DESC]
      ,[FIELD_ID]
      ,[FIELD_NAME]
      ,[FIELD_TYPE]
      ,[FIELD_WIDTH]
      ,[VAR_FIELD_NUM]
      ,[ReportSeqNo]
  FROM [LiveData].[dbo].[VAR_FIELDS]