/****** Script for SelectTopNRows command from SSMS  ******/
SELECT TOP 10 [ADDRESS_ID]
      ,[BatchItemNo]
      ,[COMPANY CODE]
      ,[CONTROL_ID]
      ,[CREATED_BY]
      ,[CREATED_DATE]
      ,[CUST_ID]
      ,[DROP_RECNUM]
      ,[HOLD]
      ,[HOLD_REASON]
      ,[JOB_NO]
      ,[MODIFIED_BY]
      ,[MODIFIED_DATE]
      ,[NO_OF_INNERS]
      ,[NO_OF_OUTERS]
      ,[OUTPUT_BATCH_ID]
      ,[PACK_BY]
      ,[PACK_DATE]
      ,[PACKAGE_COUNT]
      ,[PACKAGE_RECNUM]
      ,[PICK_BY]
      ,[PICK_ID]
      ,[PICK_SHIPPED]
      ,[PICK_STATUS]
      ,[PLANT CODE]
      ,[PRINTED_BY]
      ,[PRINTED_DATE]
      ,[PROJ_ID]
      ,[REFERENCE1]
      ,[REFERENCE2]
      ,[REFERENCE3]
      ,[REFERENCE4]
      ,[REFERENCE5]
      ,[REMARKS]
      ,[SHIP_BILL_ID]
      ,[SHIP_PROFILE_ID]
      ,[SHIP_TO_ID]
      ,[ShipBatchID]
      ,[SO_ID]
      ,[ShippingSkidID]
      ,[ShippingSkidSts]
      ,[MISCount]
      ,[PkgsAtShipTime]
      ,[ShippingComment]
      ,[LastPartialPkgId]
      ,[ReasonCode]
  FROM [LiveData].[dbo].[PICK]
  WHERE PICK_ID = 234
  Order By CREATED_DATE Desc